<div class="container" style="padding: 40px 15px; text-align: center;">
  <div class="header clearfix">
    <div class="row">
      <h3 class="col text-muted">WebRTC Peer to Peer</h3>
      <nav class="col align-self-center">
        <ul class="nav float-right">
          <li><a href="http://antmedia.io">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="alert alert-primary text-center enterprise-feature" role="alert">
    WebRTC Peer to Peer is an Enterprise Edition. <br />
    <a href="https://antmedia.io"
      >Try Enterprise Edition for free at antmedia.io</a
    >
    <br /><br />
    <a
      href="https://github.com/ant-media/Ant-Media-Server/wiki#community-edition--enterprise-edition"
      style="font-size: 12px;"
      >Comparison between Community and Enterprise</a
    >
  </div>

  <video
    id="localVideo"
    autoplay
    muted
    controls
    playsinline
    width="480"
  ></video>
  <video id="remoteVideo" autoplay controls playsinline width="480"></video>
  <br />
  <br />
  <div class="input-group offset-sm-2 col-sm-8">
    <input
      type="text"
      class="form-control"
      value="stream1"
      #streamName
      placeholder="Type stream name"
    />
    <span class="input-group-btn">
      <button class="btn btn-primary" disabled #joinButton (click)="join()">
        Join
      </button>
      <button class="btn btn-primary" disabled #leaveButton (click)="leave()">
        Leave
      </button>
    </span>
  </div>
  <div style="padding: 10px;">
    <button
      class="btn btn-outline-primary"
      #turnOffCamera
      (click)="turnOffLocalCamera()"
    >
      Turn off Camera
    </button>

    <button
      class="btn btn-outline-primary"
      #turnOnCamera
      (click)="turnOnLocalCamera()"
    >
      Turn on Camera
    </button>

    <button class="btn btn-outline-primary" #muteMic (click)="muteLocalMic()">
      Mute Local Mic
    </button>
    <button
      class="btn btn-outline-primary"
      #unmuteMic
      (click)="unmuteLocalMic()"
    >
      Unmute Local Mic
    </button>
  </div>
</div>
